/* overall css */
@font-face {
	font-family: 'Iris';
	src: url('fonts/iris-font-regular.woff');
}

@font-face {
	font-family: 'Hero Light';
	src: url('fonts/Hero-Light.woff');
}

body {
	font-family: 'Iris', sans serif;
	background-image: url("img/background.jpeg");
	background-size: cover;
	height: 100vh;
	background-repeat: no-repeat;
}

#home-wrapper {
	height: 90vh;
	display: flex;
	align-items: center;
}

/* home page css - LEFT */
.home-left {
	width: 66%;
	position: relative;	/*display: inline-block;*/
	display: flex;
	justify-content: flex-end;
}

.home-left img {
	width: 850px;
}

.home-left h1 {
	margin: 0;
	font-size: 90px;
	display: inline-block;
	color: white;
	text-shadow: -3px 2px 2px rgba(189, 195, 199, 1);
	letter-spacing: 10px;
	position: absolute;
	top: 45%;
	left: 120px;
}

.home-left h2 {
	font-family: 'Hero Light', sans serif;
	font-size: 22px;
	color: white;
	letter-spacing: 1px;
	text-transform: uppercase;
	display: inline-block;
	position: absolute;
	top: 70%;
	left: 125px;
	margin-top: 30px;
}

/* home page css - RIGHT (login/reg) */
.home-right {
	width: 33%;
	display: inline-block;
	text-align: center;	/*position: relative;*/
}

.home-right h3 {
	font-family: 'Hero Light', sans serif;
	font-size: 18px;
	letter-spacing: 2px;
	margin: 5px;
	display: inline-block;
	border-bottom: 1px solid white;
	padding: 5px;
}

/* forms */
#login-form {
	text-align: center;
	margin: 0 auto;
}

input[type="text"] {
	font-family: 'Hero Light', sans serif;
	font-size: 13px;
	display: block;
	padding: 10px;
	border: none;
	margin: 10px auto;
	width: 40%;
	transition: ease-in-out, width .35s ease-in-out;
}

input[type=text]:focus {
	width: 60%;
	outline: 0;
}

input[type="password"] {
	font-family: 'Hero Light', sans serif;
	font-size: 13px;
	display: block;
	padding: 10px;
	border: none;
	margin: 10px auto;
	width: 40%;
	transition: ease-in-out, width .35s ease-in-out;
}

input[type="password"]:focus {
	width: 60%;
	outline: 0;
}

button[type=submit] {
	font-family: 'Hero Light', sans serif;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 5px 30px;
	display: block;
	margin: 10px auto;
	color: black;
	background-color: white;
	border: none;
	border-radius: 20px;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	overflow: hidden;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: color, background-color;
	transition-property: color, background-color;
}

button[type=submit]:hover, button[type=submit]:focus, button[type=submit]:active {
	background-color: #F57A8F;
	color: white;
}

/* registration page css */
.reg-header {
	text-align: center;
	margin-bottom: 50px;
}

.reg-header h1 {
	margin-top: 55px;
	margin-bottom: 0;
	font-size: 90px;
	display: block;
	color: white;
	text-shadow: -3px 2px 2px rgba(189, 195, 199, 1);
	letter-spacing: 10px;
}

.reg-header h2 {
	font-family: 'Hero Light', sans serif;
	font-size: 22px;
	color: white;
	letter-spacing: 10px;
	text-transform: uppercase;
	margin: 10px;
	display: block;
}

form#register-form {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.reg-form input[type="text"] {
	width: 65%;
	margin: 30px auto;
}

.reg-form input[type="password"] {
	width: 65%;
	margin: 30px auto;
}

.reg-form input[type="text"].reg-name {
    display: inline-block;
    margin: 30px 10px 10px 10px;
    width: 30%;
}