/* OVERALL CSS */
@font-face {
	font-family: 'Iris';
	src: url('fonts/iris-font-regular.woff');
}

@font-face {
	font-family: 'Hero';
	src: url('fonts/Hero.woff');
}

@font-face {
	font-family: 'Hero Light';
	src: url('fonts/Hero-Light.woff');
}

html {
	height: 100%;
}

body {
	font-family: 'Iris', sans serif;
	background-image: url("img/background.jpeg");
	background-size: cover;
	height: 100vh;
	background-repeat: no-repeat;
}

body#nav-bodeh {
	margin: 0;
}

body#scroll-bodeh {
	margin: 0;
	background: linear-gradient(90deg, rgba(251, 122, 207, 1) 0%, rgba(247, 152, 172, 1) 45%, rgba(250, 209, 143, 1) 100%);
	height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/* HOME PAGE CSS */
#home-wrapper {
	height: 90vh;
	display: flex;
	align-items: center;
}

/* home page css - LEFT */
.home-left {
	width: 66%;
	position: relative;
	display: flex;
	justify-content: flex-end;
}

.home-left img {
	width: 850px;
}

.home-left h1 {
	color: white;
	font-size: 90px;
	margin: 0;
	display: inline-block;
	text-shadow: -3px 2px 2px rgba(189, 195, 199, 1);
	letter-spacing: 10px;
	position: absolute;
	top: 45%;
	left: 120px;
}

.home-left h2 {
	font-family: 'Hero Light', sans serif;
	font-size: 22px;
	color: white;
	letter-spacing: 1px;
	text-transform: uppercase;
	display: inline-block;
	position: absolute;
	top: 70%;
	left: 125px;
	margin-top: 30px;
}

/* home page css - RIGHT */
.home-right {
	width: 33%;
	display: inline-block;
	text-align: center;
}

.home-right h3 {
	font-family: 'Hero Light', sans serif;
	font-size: 18px;
	letter-spacing: 2px;
	margin: 5px;
	display: inline-block;
	border-bottom: 1px solid white;
	padding: 5px;
}

/* NAV BAR */
.nav-header {
	font-family: 'Hero', sans serif;
	font-size: 15px;
	text-align: center;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.7);
}

li {
	display: inline-block;
	color: black;
	margin: 0px 15px;
}

li a {
	display: block;
	color: black;
	text-align: center;
	padding: 20px 16px;
	text-decoration: none;
}

li a:hover {
	color: white;
	background-color: pink;
}

/* LOGIN FORM */
#login-form {
	text-align: center;
	margin: 0 auto;
}

#login-form input[type="text"] {
	font-family: 'Hero Light', sans serif;
	font-size: 13px;
	display: block;
	padding: 10px;
	border: none;
	margin: 10px auto;
	width: 40%;
	transition: ease-in-out, width .35s ease-in-out;
}

#login-form input[type=text]:focus {
	width: 60%;
	outline: 0;
}

#login-form input[type="password"] {
	font-family: 'Hero Light', sans serif;
	font-size: 13px;
	display: block;
	padding: 10px;
	border: none;
	margin: 10px auto;
	width: 40%;
	transition: ease-in-out, width .35s ease-in-out;
}

#login-form input[type="password"]:focus {
	width: 60%;
	outline: 0;
}

button[type=submit], button[type=button] {
	font-family: 'Hero Light', sans serif;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 5px 30px;
	display: block;
	margin: 10px auto;
	color: black;
	background-color: white;
	border: none;
	border-radius: 20px;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	overflow: hidden;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: color, background-color;
	transition-property: color, background-color;
}

button[type=submit]:hover, button[type=submit]:focus, button[type=submit]:active, button[type=button]:hover, button[type=button]:focus, button[type=button]:active {
	background-color: #F57A8F;
	color: white;
	outline: 0;
}

/* REGISTRATION PAGE */
.reg-header {
	text-align: center;
	margin-bottom: 50px;
}

.reg-header h1 {
	margin-top: 55px;
	margin-bottom: 0;
	font-size: 90px;
	display: block;
	color: white;
	text-shadow: -3px 2px 2px rgba(189, 195, 199, 1);
	letter-spacing: 10px;
}

.reg-header h2 {
	font-family: 'Hero Light', sans serif;
	font-size: 22px;
	color: white;
	letter-spacing: 10px;
	text-transform: uppercase;
	margin: 10px;
	display: block;
}

form#register-form {
	width: 60%;
	margin: 0 auto;
	text-align: center;
}

.reg-form input[type="text"] {
	width: 65%;
	margin: 30px auto;
	border: none;
	padding: 10px;
}

.reg-form input[type="password"] {
	width: 65%;
	margin: 10px auto 20px auto;
	border: none;
	padding: 10px;
}

.reg-form input[type="text"].reg-name {
	display: inline-block;
	margin: 30px 10px 10px 10px;
	width: 30%;
	border: none;
	padding: 10px;
}

/* LOGIN PAGE */
#login-wrapper, #logged-wrapper {
	text-align: center;
}

/* USER PAGE */
.user-wrapper {
	text-align: center;
}

.user-wrapper h1 {
	color: white;
	font-size: 80px;
	margin: 50px 0 5px 0;
	display: block;
	text-shadow: -3px 2px 2px rgba(189, 195, 199, 1);
	letter-spacing: 10px;
}

.user-wrapper h2 {
	font-family: 'Iris', sans serif;
	font-size: 18px;
	color: white;
	letter-spacing: 1px;
	margin-bottom: 40px;    /* border-bottom: 1px dashed white; */

	/* padding-bottom: 5px; */
	display: inline-block;
}

.user-wrapper h3 {
	font-family: 'Iris', sans serif;
	font-size: 13px;
	color: white;
	letter-spacing: 1px;
	display: block;
	margin: 0;
}

#entry-form textarea {
	font-family: 'Hero', sans serif;
	font-size: 15px;
	letter-spacing: 1.5px;
	line-height: 2;
	background: transparent;
	border: none;
	display: block;
	padding: 10px;
	border: none;
	margin: 10px auto;
	width: 65%;
	resize: none;
	text-align: center;
}

#entry-form textarea:focus {
	outline: 0;
}

#mood-selection label, #reason-selection label {
	font-family: 'Hero', sans serif;
	font-size: 15px;
}

#mood-selection img, #reason-selection img {
	height: 20px;
}

.radio-wrapper {
	display: inline-block;
	margin: 0 30px;
}

.radio-wrapper p {
	font-size: 13px;
}

[type=radio] {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

[type=radio] + img {
	cursor: pointer;
}

[type=radio]:checked+img {
	border: 2px solid #FFFFFF;
	border-radius: 20px;
	background-color: #FFFFFF;
	-webkit-box-shadow: 0px 0px 5px 3px rgba(255, 255, 255, 0.6);
	-moz-box-shadow: 0px 0px 5px 3px rgba(255, 255, 255, 0.6);
	box-shadow: 0px 0px 5px 3px rgba(255, 255, 255, 0.6);
}

[type=radio]:checked+img {
	-webkit-transition: background-color 0.4s linear;
	-o-transition: background-color 0.4s linear;
	-moz-transition: background-color 0.4s linear;
	transition: background-color 0.4s linear;
}

/* POST ENTRY PAGE */
#logged-wrapper button {
	display: inline-block;
	margin: 15px;
	padding: 10px 30px;
}

#logged-wrapper h1 {
	font-family: 'Hero', sans serif;
	color: white;
	text-transform: uppercase;
}

#logged-wrapper h2 {
	font-family: 'Hero Light', sans serif;
}

div#logged-wrapper {
	margin-top: 50px;
}

/* MOOD REPORT PAGE */
canvas {
	display: inline-block;
}

#report-wrapper {
	display: flex;
	justify-content: center;
	padding: 20px;
}

#report-wrapper h1, .report-header h1 {
	text-align: center;
}

#report-wrapper h2, .report-header h2 {
	font-family: 'Hero Light', sans serif;
	font-size: 20px;
	color: white;
	text-align: center;
}

#report-wrapper span {
	font-family: 'Hero Light', sans serif;
	font-size: 20px;
	color: white;
	text-align: center;
	text-transform: uppercase;
}

#mood-container {
	display: inline-block;
}

#reason-container {
	display: inline-block;
}

#meditation-container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

#meditation-container p {
	font-family: 'Hero', sans serif;
	font-size: 15px;
}

#meditation-message {
	width: 40%;
}

.meditation-card h2 {
	font-family: 'Hero Light', sans serif;
	font-size: 15px;
}

.meditation-card input[type="image"] {
	transform: translateY(-15px) translateX(10px);
}

blockquote {
	font-family: 'Hero', sans serif;
	line-height: 1.5;
	background: white;
	padding: 20px 30px 20px 30px;
	margin: 50px auto;
	width: 50%;
	max-width: 500px;
}

.shadow {
	border: solid 2px;
	box-shadow: 15px 15px 0 0 #F9C397;
}

#meditation-tracks {
	width: 40%;
	margin: 30px;
}

input[type="image"]:focus {
	outline: 0;
}

/* PAST ENTRIES PAGE */
.entry-card {
	background-color: white;
	width: 40%;
	padding: 10px;
	margin: 30px auto;
}

.entry-card h3 {
	font-family: 'Hero', sans serif;
	letter-spacing: 2px;
	padding: 5px;
	background-color: #FB7ACF;
	color: white;
	display: inline-block;
	margin: 10px 0;
}

.entry-card p {
	font-family: 'Hero', sans serif;
	font-size: 17px;
}

.entry-card h4 {
	font-family: 'Hero Light', sans serif;
	display: inline-block;
	margin: 5px;
}

/* FAVES PAGE */
div#fave-container {
    text-align: center;
}

#fave-container h1 {
	font-family: 'Hero', sans serif;
  color: white;
  font-size: 50px;
  margin: 300px 0;
  display: inline-block;
  width: 62%;
	background: linear-gradient(90deg, rgba(251, 122, 207, 1) 0%, rgba(247, 152, 172, 1) 45%, rgba(250, 209, 143, 1) 100%);
}

.podcast-card {
    margin: 80px 0;
}

.podcast-card input[type="image"] {
	transform: translateY(-15px) translateX(10px);
}